
#scene-one {
    background:url("../images/world_map.png") no-repeat ;
    height:617px;
    margin: auto;
}
#title-text {
    text-align:center;
    position:relative;
    color:#000000;
}

#charleston {
    position:relative;
    left:220px;
    top:185px;
    color:#000000;
}

#canton {
    position:relative;
    left:800px;
    top:228px;
    color:#000000;
}

#scene-two-charleston {
    background:url("../images/chose_sc.jpg") no-repeat  ;
    height:100%;
}

#scene-two-charleston-left-text {
    position:relative;
    left:200px;
    top:30px;
    color:#000000;
    font-family: Courgette;
    overflow-wrap: normal;
    width: 40em;
}

#scene-two-charleston-right-text{
    position:relative;
    left: 1000px;
    top:50px;
    color:#000000;
    font-family: Courgette;
    overflow-wrap: normal;
    width: 18em;
}

#scene-two-canton {
    background:url("../images/chose_canton.jpg") no-repeat ;
    height: 100%;

}

#scene-two-canton-left-text {
    position:relative;
    left:250px;
    top:10px;
    color:#000000;
    font-family: Courgette;
    overflow-wrap: normal;
    width: 30em;
}

#scene-three-slave-left-text{
  position:relative;
  left:100px;
  top:560px;
  color:#000000;
  font-family: Courgette;
  overflow-wrap: normal;
  width: 50em;
}

#scene-three-servant-left-text{
  position:relative;
  left:200px;
  top:30px;
  color:#000000;
  font-family: Courgette;
  overflow-wrap: normal;
  width: 40em;
}

#scene-four-apprentice-left-text{
    position:relative;
    left:125px;
    top:550px;
    color:#000000;
    font-family: Courgette;
    overflow-wrap: normal;
    width: 50em;
}

#scene-two-canton-right-text {
    position:relative;
    left: 1000px;
    top:50px;
    color:#000000;
    font-family: Courgette;
    overflow-wrap: normal;
    width: 18em;
}

#btn-scene-two-left {
    background: #d3d3d3;
    height: 20px;
    min-width: 40px;
    border: none;
    border-radius: 10px;
    color: #222;
    font-size: 16px;
    font-family: 'Cookie', cursive;
    position:absolute;
    left:1000px;
    top:100px;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

#btn-scene-two-right {
    background: #d3d3d3;
    height: 20px;
    min-width: 40px;
    border: none;
    border-radius: 10px;
    color: #222;
    font-size: 16px;
    font-family: 'Cookie', cursive;
    position:absolute;
    left:1000px;
    top:150px;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

#btn-scene-two-bottom {
    background: #d3d3d3;
    height: 20px;
    min-width: 40px;
    border: none;
    border-radius: 10px;
    color: #222;
    font-size: 16px;
    font-family: 'Cookie', cursive;
    position:absolute;
    left:1000px;
    top:200px;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

#scene-three-missionary-servant {
    background:url("../images/america_missionary_servant.jpg") no-repeat ;
    height:100%;
}

#scene-three-slave {
    background:url("../images/america_slave.jpg") no-repeat ;
    height:100%;
}

#scene-three-missionary-right {

    position:absolute;
    left:1000px;
    top:0px;
    color:#000000;
    font-family: Courgette;
    overflow-wrap: normal;
    width: 42em;
    font-size:14px;
}

#scene-three-missionary-bottom {
    position:absolute;
    left:1000px;
    top:330px;
    color:#000000;
    font-family: Courgette;
    overflow-wrap: normal;
    width: 42em;
    font-size:18px;
}

#btn-scene-three-left {
    background: #d3d3d3;
    height: 20px;
    min-width: 40px;
    border: none;
    border-radius: 10px;
    color: #222;
    font-size: 16px;
    font-family: 'Cookie', cursive;
    position:absolute;
    left:1000px;
    top:500px;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}
#btn-scene-three-middle {
    background: #d3d3d3;
    height: 20px;
    min-width: 40px;
    border: none;
    border-radius: 10px;
    color: #222;
    font-size: 16px;
    font-family: 'Cookie', cursive;
    position:absolute;
    left:1000px;
    top:440px;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}
#btn-scene-three-right {
    background: #d3d3d3;
    height: 20px;
    min-width: 40px;
    border: none;
    border-radius: 10px;
    color: #222;
    font-size: 16px;
    font-family: 'Cookie', cursive;
    position:absolute;
    left:1000px;
    top:380px;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

#scene-four-farmer {
    background:url("../images/farmer_in_america.jpg") no-repeat ;
    height:100%;
}

#scene-four-farmer-left-text {
    position:relative;
    left:200px;
    top:30px;
    color:#000000;
    font-family: Courgette;
    overflow-wrap: normal;
    width: 40em;

}


#scene-four-apprentice {
    background:url("../images/apprentice_in_america.jpg") no-repeat ;
    height:100%;
}

#scene-four-sailor {
    background:url("../images/sailor_in_america.jpg") no-repeat ;
    height:100%;
}

#scene-army-north {
    background:url("../images/army_as_north.jpg") no-repeat ;
    height:100%;
}

#scene-army-south {
    background:url("../images/army_as_south.jpg") no-repeat center;
    height:540px;
}

#btn-scene-four-army {
    background: #d3d3d3;
    height: 30px;
    min-width: 60px;
    border: none;
    border-radius: 10px;
    color: #222;
    font-size: 20px;
    font-family: 'Cookie', cursive;
    position:absolute;
    left:1000px;
    top:380px;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

#scene-four-army-button-left{
  background: #d3d3d3;
  height: 30px;
  min-width: 60px;
  border: none;
  border-radius: 10px;
  color: #222;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  position:absolute;
  left:1000px;
  top:500px;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#scene-four-army-button-right{
  background: #d3d3d3;
  height: 30px;
  min-width: 60px;
  border: none;
  border-radius: 10px;
  color: #222;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  position:absolute;
  left:1200px;
  top:500px;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#btn-scene-four-army-two {
    background: #d3d3d3;
    height: 30px;
    min-width: 60px;
    border: none;
    border-radius: 10px;
    color: #222;
    font-size: 20px;
    font-family: 'Cookie', cursive;
    position:absolute;
    left:900px;
    top:380px;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}
#scene-four-text {
    position:relative;
    left:1000px;
    top:225px;
    color:#000000;
    font-family: Courgette;
    overflow-wrap: normal;
    width: 30em;
}

#scene-four-right {
    position:absolute;
    left:1000px;
    top:0px;
    color:#000000;
    font-family: Courgette;
    overflow-wrap: normal;
    width: 42em;
    font-size:12px;
}

#title-text-4 {
    text-align:center;
    position:relative;
    color:#000000;
    font-size:40px;
}
#title-text-42 {
    padding-top: 0px;
    text-align:center;
    position:relative;
    color:#000000;
    font-size:40px;
}
#title-text-6 {
    padding-top: 40px;
    left: 980px;
    position:relative;
    color:#000000;
    font-size:24px;
}
#four-pic-1 {
    position:absolute;
    left:550px;
    top:140px;
    width: 42em;
    font-size:12px;
}

#civil-four-pic-1{
  position:absolute;
  left:1000px;
  top:140px;
  width: 42em;
  font-size:12px;
}

#four-pic-2 {
    position:absolute;
    left:1000px;
    top:90px;
    width: 42em;
    font-size:12px;
}

#civil-four-pic-2{
  position:absolute;
  left:1200px;
  top:140px;
  width: 42em;
  font-size:12px;
}

#four-pic-3 {
    position:absolute;
    left:950px;
    top:140px;
    width: 42em;
    font-size:12px;
}

#civil-four-pic-3{
  position:absolute;
  left:1100px;
  top:140px;
  width: 42em;
  font-size:12px;
}

#scene-four-text-two {
    position:relative;
    left:200px;
    top:500px;
    color:#000000;
    font-family: Courgette;
    overflow-wrap: normal;
    width: 40em;
}

#scene-civil-one {
    background:url("../images/mclellan.jpg") no-repeat ;
    height:100%;
}

#scene-civil-two {
    background:url("../images/grant_background.jpg") no-repeat ;
    height:100%;
}

#btn-scene-four-army-mid {
    background: #d3d3d3;
    height: 30px;
    min-width: 60px;
    border: none;
    border-radius: 10px;
    color: #222;
    font-size: 20px;
    font-family: 'Cookie', cursive;
    position:absolute;
    left:1000px;
    top:400px;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}
#scene-civil-one-battles {
    background:url("../images/slide-two.PNG") no-repeat ;
    height:100%;

}

#scene-civil-two-battles {
    background:url("../images/slide-seven.PNG") no-repeat ;
    height:640px;
    margin: auto;

}

#mmb-pic-1 {
    position:relative;
    left:300px;
    top:90px;
}

#mmb-pic-2 {
    position: relative;
    left:270px;
    top:60px;
}

#mmb-pic-3 {
    position:relative;
    left:260px;
    top:30px;
}

#g-pic-1 {
    position:relative;
    left: 315px;
    top:100px;
}
#g-pic-2 {
    position:relative;
    left:450px;
    top:125px;
}
#g-pic-3 {
    position:relative;
    left:255px;
    top:135px;
}

#scene-bedford-background {
    background:url("../images/forrest_scene.jpg") no-repeat ;
    height:100%;
}

#scene-bedford-battles {
    background:url("../images/bedford_battles_background.PNG") no-repeat ;
    height:100%;
}

#b-pic-1 {
    position:relative;
    left:230px;
    top:105px;
}

#b-pic-2 {
    position:relative;
    left:185px;
    top:140px;
}


#battle-left-text {
    position: absolute;
    left:50px;
    top:530px;
    font-size:15px;
    color:#000000;
    font-family: Courgette;
    overflow-wrap: normal;
    width: 60em;
}

#petersburg-left-text{
  position: absolute;
  left:50px;
  top:550px;
  font-size:15px;
  color:#000000;
  font-family: Courgette;
  overflow-wrap: normal;
  width: 60em;
}

#antietam-left-text{
  position: absolute;
  left:50px;
  top:550px;
  font-size:15px;
  color:#000000;
  font-family: Courgette;
  overflow-wrap: normal;
  width: 60em;
}

#getty-left-text{
  position: absolute;
  left:50px;
  top:550px;
  font-size:15px;
  color:#000000;
  font-family: Courgette;
  overflow-wrap: normal;
  width: 60em;
}

#harbor-left-text{
  position: absolute;
  left:50px;
  top:550px;
  font-size:15px;
  color:#000000;
  font-family: Courgette;
  overflow-wrap: normal;
  width: 60em;
}

#harbor-right-text{
  position: absolute;
  left:1000px;
  top:50px;
  font-size:15px;
  color:#000000;
  font-family: Courgette;
  overflow-wrap: normal;
  width: 30em;
}

#shiloh-left-text{
  position: absolute;
  left:50px;
  top:550px;
  font-size:15px;
  color:#000000;
  font-family: Courgette;
  overflow-wrap: normal;
  width: 60em;
}

#shiloh-right-text{
  position:absolute;
  left:1000px;
  top:0px;
  font-size:14px;
  color:#000000;
  font-family: Courgette;
  overflow-wrap: normal;
  width: 30em;
}

#battle-right-text {
    position:absolute;
    left:1000px;
    top:50px;
    font-size:14px;
    color:#000000;
    font-family: Courgette;
    overflow-wrap: normal;
    width: 30em;
}

#antietam-right-text{
  position:absolute;
  left:1000px;
  top:50px;
  font-size:14px;
  color:#000000;
  font-family: Courgette;
  overflow-wrap: normal;
  width: 30em;
}

#getty-right-text{
  position:absolute;
  left:1000px;
  top:50px;
  font-size:14px;
  color:#000000;
  font-family: Courgette;
  overflow-wrap: normal;
  width: 30em;
}

#return-right-text{
  position:absolute;
  left:950px;
  top:50px;
  font-size:14px;
  color:#000000;
  font-family: Courgette;
  overflow-wrap: normal;
  width: 30em;
}

#revoked-right-text{
  position:absolute;
  left:950px;
  top:50px;
  font-size:14px;
  color:#000000;
  font-family: Courgette;
  overflow-wrap: normal;
  width: 30em;
}

#revoked-left-button{
  background: #d3d3d3;
  height: 30px;
  min-width: 60px;
  border: none;
  border-radius: 10px;
  color: #222;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  position:absolute;
  left:950px;
  top:600px;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#revoked-right-button{
  background: #d3d3d3;
  height: 30px;
  min-width: 60px;
  border: none;
  border-radius: 10px;
  color: #222;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  position:absolute;
  left:950px;
  top:500px;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#battle-left-button {
    background: #d3d3d3;
    height: 30px;
    min-width: 60px;
    border: none;
    border-radius: 10px;
    color: #222;
    font-size: 20px;
    font-family: 'Cookie', cursive;
    position:absolute;
    left:1000px;
    top:450px;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

#getty-left-button{
  background: #d3d3d3;
  height: 30px;
  min-width: 60px;
  border: none;
  border-radius: 10px;
  color: #222;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  position:absolute;
  left:1000px;
  top:450px;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#return-left-button{
  background: #d3d3d3;
  height: 30px;
  min-width: 60px;
  border: none;
  border-radius: 10px;
  color: #222;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  position:absolute;
  left:950px;
  top:550px;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#harbor-left-button{
  background: #d3d3d3;
  height: 30px;
  min-width: 60px;
  border: none;
  border-radius: 10px;
  color: #222;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  position:absolute;
  left:1000px;
  top:500px;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#battle-right-button {
    background: #d3d3d3;
    height: 30px;
    min-width: 60px;
    border: none;
    border-radius: 10px;
    color: #222;
    font-size: 20px;
    font-family: 'Cookie', cursive;
    position:absolute;
    left:1000px;
    top:350px;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

#spotsylvania-right-button{
  background: #d3d3d3;
  height: 30px;
  min-width: 60px;
  border: none;
  border-radius: 10px;
  color: #222;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  position:absolute;
  left:1000px;
  top:400px;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#petersburg-right-button{
  background: #d3d3d3;
  height: 30px;
  min-width: 60px;
  border: none;
  border-radius: 10px;
  color: #222;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  position:absolute;
  left:1000px;
  top:400px;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#fredericksburg-right-button{
  background: #d3d3d3;
  height: 30px;
  min-width: 60px;
  border: none;
  border-radius: 10px;
  color: #222;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  position:absolute;
  left:1000px;
  top:500px;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#antietam-right-button{
  background: #d3d3d3;
  height: 30px;
  min-width: 60px;
  border: none;
  border-radius: 10px;
  color: #222;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  position:absolute;
  left:1000px;
  top:400px;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#getty-right-button{
  background: #d3d3d3;
  height: 30px;
  min-width: 60px;
  border: none;
  border-radius: 10px;
  color: #222;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  position:absolute;
  left:1000px;
  top:500px;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#return-right-button{
  background: #d3d3d3;
  height: 30px;
  min-width: 60px;
  border: none;
  border-radius: 10px;
  color: #222;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  position:absolute;
  left:950px;
  top:600px;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#harbor-right-button{
  background: #d3d3d3;
  height: 30px;
  min-width: 60px;
  border: none;
  border-radius: 10px;
  color: #222;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  position:absolute;
  left:1000px;
  top:450px;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#battle-bottom-button {
    background: #d3d3d3;
    height: 30px;
    min-width: 60px;
    border: none;
    border-radius: 10px;
    color: #222;
    font-size: 20px;
    font-family: 'Cookie', cursive;
    position:absolute;
    left:550px;
    top:550px;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

#citizen-end-left-button{
    background: #d3d3d3;
    height: 30px;
    min-width: 60px;
    border: none;
    border-radius: 10px;
    color: #222;
    font-size: 20px;
    font-family: 'Cookie', cursive;
    position:absolute;
    left:1000px;
    top:475px;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

#citizen-end-right-button{
    background: #d3d3d3;
    height: 30px;
    min-width: 60px;
    border: none;
    border-radius: 10px;
    color: #222;
    font-size: 20px;
    font-family: 'Cookie', cursive;
    position:absolute;
    left:1000px;
    top:550px;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

#end-left-button {
    background: #d3d3d3;
    height: 30px;
    min-width: 60px;
    border: none;
    border-radius: 10px;
    color: #222;
    font-size: 20px;
    font-family: 'Cookie', cursive;
    position:absolute;
    left:1000px;
    top:100px;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

#end-right-button {
    background: #d3d3d3;
    height: 30px;
    min-width: 60px;
    border: none;
    border-radius: 10px;
    color: #222;
    font-size: 20px;
    font-family: 'Cookie', cursive;
    position:absolute;
    left:1000px;
    top:250px;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

#end-bottom-button {
    background: #d3d3d3;
    height: 30px;
    min-width: 60px;
    border: none;
    border-radius: 10px;
    color: #222;
    font-size: 20px;
    font-family: 'Cookie', cursive;
    position:absolute;
    left:1000px;
    top:400px;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
}

#scene-fredericksburg {
    background:url("../images/Fredericksburg.jpg") no-repeat ;
    height:100%;
}

#scene-antietam {
    background:url("../images/Antietam.jpg") no-repeat ;
    height:100%;
}

#scene-gettysburg {
    background:url("../images/Gettysburg.jpg") no-repeat ;
    height:100%;
}

#scene-spotsylvania {
    background:url("../images/spotsylvania.PNG") no-repeat ;
    height:100%;
}

#scene-harbor {
    background:url("../images/cold_harbor.jpg") no-repeat ;
    height:100%;
}

#scene-petersburg {
    background:url("../images/Petersburg.jpg") no-repeat ;
    height:100%;
}

#scene-donelson {
    background:url("../images/donelson.jpg") no-repeat ;
    height:100%;
}

#scene-shiloh {
    background:url("../images/shiloh.jpg") no-repeat ;
    height:100%;
}

#scene-never-get {
    background:url("../images/never_get.PNG") no-repeat ;
    height:100%;
}

#scene-revoked {
    background:url("../images/revoked.PNG") no-repeat ;
    height:100%;
}

#scene-return {
    background:url("../images/return.PNG") no-repeat ;
    height:100%;
}
